.button {
  $self: &;
  cursor: pointer;
  font-size: 25px;
  transition: all 0.25s ease;

  &:focus {
    outline: none;
  }

  &--white {
    background-color: transparent;
    border: 2px solid #fff;
    padding: 8.6px 20px;
    border-radius: 500px;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: #fff;
      color: #ff7c4d;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.4);
    }
  }
}
