.List {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  &_item {
    position: relative;
    display: inline-block;
    font-size: 18px;
    padding-left: 16px;

    &::before {
      position: absolute;
      content: "";
      width: 4px;
      height: 4px;
      left: 6px;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #333;
    }

    &___1 {
      width: 100%;

      &:nth-of-type(n + 2) {
        margin-top: 15px;
      }
    }

    &___2 {
      width: 50%;

      &:nth-of-type(n + 3) {
        margin-top: 15px;
      }
    }

    &___3 {
      width: 33.3333%;

      &:nth-of-type(n + 4) {
        margin-top: 15px;
      }
    }
  }
}
