@import "index.scss";

.ProjectFullLinks {
  &_list {
    width: 100%;
    display: flex;
    justify-content: center;

    @include mobile-sm {
      flex-direction: column;
    }
  }

  &_item {
    &:not(:last-of-type) {
      margin-right: 20px;

      @include mobile-sm {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }

    .Button {
      min-width: 180px;
    }
  }
}
