@import "index.scss";

.Button {
  $self: &;
  transition: all 0.25s ease;

  &:focus {
    outline: none;
  }

  &___square {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
  }

  &___round {
    font-size: 25px;
    padding: 8.6px 20px;
    border-radius: 500px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

    @include tablet {
      font-size: 20px;
      padding: 8.9px 32px;
    }
  }

  &___white {
    border: 2px solid #fff;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #ff7644;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.4);
    }
  }

  &___orange {
    border: 2px solid #ff7644;
    color: #ff7644;

    &:hover {
      background-color: #ff7644;
      color: #fff;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px rgba(255, 118, 68, 0.4);
    }
  }
}
