@import "../../index.scss";

.icon-link {
  $self: &;
  transition: all 0.25s ease;

  &__icon {
    width: 20px;
    height: 20px;
    transition: color 0.25s ease;

    @include tablet {
      width: 17px;
      height: 17px;
    }
  }

  &--red {
    background-color: #c63030;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.15);
    border: 2px solid #c63030;

    &#{$self} {
      & #{$self}__icon {
        color: #ff7644;
      }

      &:hover {
        background-color: transparent;

        & #{$self}__icon {
          color: #c63030;
        }
      }

      &:focus {
        background-color: #c63030;
        box-shadow: 0px 0px 0px 3px rgba(198, 48, 48, 0.4);

        & #{$self}__icon {
          color: #ff7644;
        }
      }
    }
  }

  &--round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: 45px;
      height: 45px;
    }
  }
}
