.main {
  position: absolute;
  width: 100%;
  margin-bottom: 20px;
  margin-top: calc(100vh - 150px);

  &__container {
    display: flex;
    border-radius: 7px;
  }

  &__info-container,
  &__projects-container {
    width: 50%;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    max-width: fit-content;

    & .section {
      &:first-of-type {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }

      &:last-of-type {
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        flex-grow: 1;
      }

      &--gray {
        background-color: #333;
        color: #fff;
      }

      &--white {
        background-color: #fff;
        color: #333;
      }
    }
  }

  &__projects {
    &-container {
      position: relative;
    }

    &-heading {
      position: absolute;
      top: 0;
      right: 50px;
      transform: translateY(-50%);
      padding: 10px 20px;
      background-image: linear-gradient(135deg, #f68259 0%, #f46c3b 100%);
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1), 0 0px 6px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      font-weight: 700;
      font-size: 20px;
      color: #fff;
    }
  }
}

.section {
  padding: 70px 50px;
}

.contact {
  &__form {
    .button {
      margin-top: 40px;
    }
  }
}
