.main {
  position: absolute;
  width: 100%;
  margin-bottom: 20px;
  margin-top: calc(100vh - 120px);
  background-image: linear-gradient(rgba(255, 118, 68, 0) 0%, #ff7644 70px);
  border-radius: 7px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__info-container,
  &__projects-container {
    width: calc(50% - 10px);
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 0 2px 5px 0 rgba(34, 34, 34, 0.3);

    & .section {
      &:first-of-type {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }

      &:last-of-type {
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        flex-grow: 1;
      }

      &--gray {
        background-color: #333;
        color: #fff;
      }

      &--white {
        background-color: #fff;
        color: #333;
      }
    }
  }

  &__projects {
    &-container {
      position: relative;
    }

    &-heading {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 50px;
      transform: translateY(-50%);
      padding: 10px 20px;
      background-color: #333;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1), 0 0px 6px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      font-weight: 400;
      font-size: 20px;
      color: #fff;
    }
  }
}

.section {
  padding: 70px 50px;

  .heading-secondary {
    margin-bottom: 40px;
  }
}

.contact {
  &__form {
    .button {
      margin-top: 40px;
    }
  }

  &__field {
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }
}
