.main {
  position: absolute;
  width: 100%;
  margin-bottom: 20px;
  margin-top: calc(100vh - 100px);

  &__container {
    display: flex;
    background-color: #fff;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    max-width: fit-content;

    & .section {
      padding: 40px 50px;

      &:first-of-type {
        border-top-left-radius: 7px;
      }

      &:last-of-type {
        border-bottom-left-radius: 7px;
        flex-grow: 1;
      }

      &--gray {
        background-color: #333;
        color: #fff;
      }

      &--white {
        background-color: #fff;
        color: #333;
        border-right: 2px solid #e9e9e9;
      }
    }
  }

  &__projects {
    &-container {
      position: relative;
      min-width: 50%;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      background-color: #fff;
      min-height: 1000px;
    }

    &-heading {
      position: absolute;
      top: 0;
      right: 50px;
      transform: translateY(-50%);
      padding: 10px 20px;
      background-image: linear-gradient(135deg, #f68259 0%, #f46c3b 100%);
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1), 0 0px 6px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      font-weight: 700;
      font-size: 20px;
      color: #fff;
    }
  }
}
