@import "../../index.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  overflow: hidden;
  background-color: #ff7644;

  &.scrollable {
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    width: 7px;
    background-color: #ff7644;
    transition: opacity 0.25s ease;
  }

  &::-webkit-scrollbar-thumb {
    opacity: 0;
    width: 7px;
    background-color: #333;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    transition: opacity 0.25s ease;
  }
}
body,
button,
input,
textarea {
  font-family: "Lato", -apple-system, sans-serif;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
}

button:focus {
  outline: none;
}

a,
button {
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

span {
  display: inline-block;
}

::selection {
  background-color: #ff7644;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
}

.heading___primary {
  font-weight: 700;
  font-size: 65px;

  @include tablet {
    font-size: 45px;
  }

  @include mobile-md {
    line-height: 45px;
  }
}

.subheading___primary {
  font-weight: 400;
  font-size: 30px;

  @include tablet {
    font-size: 25px;
  }
}

.heading___secondary {
  font-weight: 700;
  font-size: 35px;

  @include tablet {
    font-size: 30px;
  }
}

.heading___tertiary {
  font-weight: 700;
  font-size: 24px;

  @include tablet {
    font-size: 22px;
  }
}

.heading___quarternary {
  font-weight: 700;
  font-size: 18px;
}

.paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  @include tablet {
    font-size: 16px;
  }
}

.Logo {
  width: 80px;
}
