@import "../../index.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: #ff7644;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  .logo {
    margin-bottom: 60px;

    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__social {
    &-list {
      display: flex;
      margin-top: 40px;
    }

    &-item {
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
  }
}
