.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #f68259 0%, #f46c3b 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  .logo {
    margin-bottom: 60px;
  }

  &__social {
    &-list {
      display: flex;
      margin-top: 40px;
    }

    &-item {
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
  }
}
