@import "../../../index.scss";

.Projects {
  position: relative;
  width: calc(50% - 10px);

  @include tablet {
    width: 100%;
    margin-top: 40px;
  }

  &_heading {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 50px;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: #333;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1), 0 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    color: #fff;

    @include desktop-sm {
      right: 25px;
    }

    @include tablet {
      right: 50%;
      transform: translate(50%, -50%);
    }

    @include mobile-md {
      padding: 7px 14px;
      min-width: fit-content;
    }
  }
}
